*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
    /* overflow: hidden; */
}

*::-webkit-scrollbar {
    display: none;
  }
html{
    background:rgb(12, 7, 7);
    width: fit-content;
    height: fit-content;
}
.banner{
    position: relative;
}
.banner_image{
    width:100vw;
    height:100vh;
    object-fit: cover;
}

.banner{
    position: absolute;
    color:white;
    height:100vh;
}
.banner_content{
    position:absolute;
    top:50%;
    width:50%;
    padding:50px
    
}


.banner_content>p{
    font-size:20px;
    color: white;
    font-weight: 800;
}

.banner_content>h1{
    font-size:90px;
    /* padding:10px; */
    
}

.banner_content>button{
    font-size:28px;
    border-radius:10%;
    padding:10px;
    margin-top: 15px;
    font-weight:800;
    padding-right:25px;
    background:rgb(252, 253, 255);
    box-shadow:6px 6px 10px rgb(177, 169, 169);
    outline: none;
    border: none;

}
.banner_button_play{
    width:30px
}

.movies{
    position: relative;
    bottom: 0;
    width: 23%;
    margin: 10px;

}



.movies_wrapper{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    overflow: hidden;
    /* overflow-x: scroll; */

}
.movies_image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 25px;
    margin-right: 30px;
    padding-right: 0px;
    transition: 0.5s ease-in-out;
    /* z-index: 9; */
    /* border-radius: 3%; */
    filter: blur(0.8);

}
.movies_image:hover{
transform: scale(1.1);
z-index: 999;
box-shadow:1px 1px 10px 1px rgb(128, 71, 181,0.6);

}

.movie_text{
    position: absolute;
    top: 45%;
    left:25%;
    font-size: xx-large;
    font-weight:800;
}

.featured_text{
    margin:15px;
    font-weight: 900;
    font-size:xx-large;
    margin-right:24px;
    padding: 15px;

}

.navbar{
    color: white;
    top: 0;
    position: absolute;
    display: flex;
    font-size: 40px;
    font-weight: 800;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    
}

.navbar>input{
    padding: 15px;
    border-radius: 10px;
    outline: none;
    border: none;
    
}

.navbar>input::placeholder{
    font-size:25px;
    font-weight: 500;
}
.navbar_search{
    background-color: white;
}
.navbar_search>img{
    width: 25px;

}

.navbar_home_button{
    display: flex;
    width: 75%;
    /* background-color: red; */
    justify-content: space-around;
}

@media  screen and (max-width:1200px) {

    .navbar_home_button{
        display: none;
    }
    .navbar_search{
        width:30%
    }
 
    .banner_content{
        width: 100%;
        top:30%
    }

    .movies_wrapper{
        flex-direction: column;
    }
    .movies{
        width: 100%;
    }
    .banner_content>p{
        font-size: 30px;
    }

    .banner_content>h1{
    font-size:60px;
    /* padding:10px; */
    
}
.hamburger{
    display: flex !important;
    width: 15%;
}

}


.hamburger{
    display: none;
}
@media  screen and (max-width:500px){
    .banner_content{
        width: 100%;
        top:20%
    }


} 
